/*
tmp
_tmp.*
_tmp_*

.directory
.thumbnails*
.DS_Store
._.DS_Store
desktop.ini
Thumbs.db
Thumbs.db:encryptable

bin/tapioca

# white list
!/.git*
!/*.gemspec
!/Gemfile
!/Gemfile.lock
!/License
!/Rakefile
!/docs
!/lib
!/test
!/bin
# !/assets
!/misc
!/.rubocop.yml
!/.yardopts
